<%= feedback_tab(:position => 'top') %>
<div id = "header">			 	
	<h1>Now</h1>
</div>

<div id="notice" class="indicator"></div>

<p>You have <span id="counter"></span> characters left.</p>
<div id = "content">
	<form id = "room_form">
		<%= text_area_tag(:comment, nil, :behavior => "room_speaker") %>
		<input type="hidden" id="code" name="code" value="<%= request.remote_ip %>" />
	</form>
	
	<div id="comments">
		<%= render @comments %>
	</div>
</div>