<div id = "header">			 	
	<h1>Now</h1>
</div>

<div id = "content">
	<form id = "room_form">
		<%= text_area_tag(:comment, nil, :behavior => "room_speaker") %>
	</form>

	<div id="comments">
		<%= render @comments %>
	</div>
</div>