<div id = "content">
<form>
	<label> Say something: </label> <br>
	<%= text_area_tag(:comment, nil, :size => "130x6", :behavior => "room_speaker") %>
</form>

<div id="comments">
	<%= render @comments %>
</div>
